# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml
home/
# Eclipse Project Files

.classpath
.project
.settings/
home/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
.factorypath
