<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codebuilder.dao.BooksRepository">
								
    <!-- CodeBuilder  Generated-->
  <resultMap id="BooksMap" type="codebuilder.bo.Books">
  					 <id column="id" property="id" jdbcType="INTEGER" />
							<result column="price" property="price" jdbcType="DOUBLE" />
							<result column="name" property="name" jdbcType="VARCHAR" />
							<result column="description" property="description" jdbcType="TEXT" />
							<result column="modify_date" property="modifyDate" jdbcType="DATETIME" />
							<result column="create_date" property="createDate" jdbcType="DATETIME" />
							<result column="worker" property="worker" jdbcType="VARCHAR" />
			  </resultMap>
  <sql id="Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
  <sql id="Table_Name">books</sql>
	<sql id="Base_Column_List_Without_Id">
  	  									price ,								name ,								description ,								modify_date ,								create_date ,								worker 			  </sql>
  <sql id="Base_Column_List">
  	  					id ,
			  			  			  			  			  			  				<include refid="Base_Column_List_Without_Id"/>
  </sql>
    <sql id="Insert_Columns">
     							<if test="record.price != null">price,</if>
							<if test="record.name != null">name,</if>
							<if test="record.description != null">description,</if>
							<if test="record.modifyDate != null">modify_date,</if>
							<if test="record.createDate != null">create_date,</if>
							<if test="record.worker != null">worker,</if>
			    </sql>
    <sql id="Insert_Values">
    							<if test="record.price != null">#{record.price,jdbcType=DOUBLE},</if>
							<if test="record.name != null">#{record.name,jdbcType=VARCHAR},</if>
							<if test="record.description != null">#{record.description,jdbcType=TEXT},</if>
							<if test="record.modifyDate != null">#{record.modifyDate,jdbcType=DATETIME},</if>
							<if test="record.createDate != null">#{record.createDate,jdbcType=DATETIME},</if>
							<if test="record.worker != null">#{record.worker,jdbcType=VARCHAR},</if>
			    </sql>
    <sql id="Batch_Insert_Values">
								 #{record.price,jdbcType=DOUBLE},
		 					 #{record.name,jdbcType=VARCHAR},
		 					 #{record.description,jdbcType=TEXT},
		 					 #{record.modifyDate,jdbcType=DATETIME},
		 					 #{record.createDate,jdbcType=DATETIME},
		 					 #{record.worker,jdbcType=VARCHAR},
		 	    </sql>
	<sql id="Batch_Insert_Values_On_DuplicateKey">
									#{record.id,jdbcType=INTEGER},
																																					<include refid="Batch_Insert_Values"/>
	</sql>
    <sql id="Update_Set_From_Bean">
	 							<if test="record.price != null">price = #{record.price,jdbcType=DOUBLE} ,</if>
							<if test="record.name != null">name = #{record.name,jdbcType=VARCHAR} ,</if>
							<if test="record.description != null">description = #{record.description,jdbcType=TEXT} ,</if>
							<if test="record.modifyDate != null">modify_date = #{record.modifyDate,jdbcType=DATETIME} ,</if>
							<if test="record.createDate != null">create_date = #{record.createDate,jdbcType=DATETIME} ,</if>
							<if test="record.worker != null">worker = #{record.worker,jdbcType=VARCHAR} ,</if>
			    </sql>
	<!-- insert -->
	<insert id="insert" parameterType="java.util.Map">
				<selectKey resultType="" keyProperty="record.id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
		        insert into <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.Map">
        insert into <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List_Without_Id"/>
        </trim>
        values
        <foreach collection="records" item="record" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
	<insert id="batchInsertOnDuplicateKey" parameterType="java.util.Map">
		insert into <include refid="Table_Name"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="Base_Column_List"/>
		</trim>
		values
		<foreach collection="records" item="record" index="index" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<include refid="Batch_Insert_Values_On_DuplicateKey"/>
			</trim>
		</foreach>
		ON DUPLICATE KEY UPDATE
																price = VALUES(price)  , 												name = VALUES(name)  , 												description = VALUES(description)  , 												modify_date = VALUES(modify_date)  , 												create_date = VALUES(create_date)  , 												worker = VALUES(worker)  						</insert>
	<!-- end insert -->
    <!-- delete -->
    <delete id="deleteById" parameterType="java.util.Map">
        delete from <include refid="Table_Name"/> where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map">
        delete from <include refid="Table_Name"/>
        <if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteIn" parameterType="java.util.Map">
        delete from <include refid="Table_Name"/> where id in
        <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
			#{record.id,jdbcType=INTEGER}
		</foreach>
    </delete>
    <!-- end delete -->
    <!-- update -->
	<update id="updateById" parameterType="java.util.Map">
        update <include refid="Table_Name"/>
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
		where id = #{record.id,jdbcType=INTEGER}
	</update>
    <update id="updateByExample" parameterType="java.util.Map">
        update <include refid="Table_Name"/>
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        <if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </update>
    <update id="batchUpdate" parameterType="java.util.Map">
        <foreach collection="records" item="record" index="index" open="" close="" separator=";">
            update <include refid="Table_Name"/>
            <set>
            	<include refid="Update_Set_From_Bean"/>
            </set>
			where id=#{record.id,jdbcType=INTEGER}
		</foreach>
    </update>
	 <!-- end update -->
    <!-- select -->
    <select id="selectById" resultMap="BooksMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from <include refid="Table_Name"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByExample" resultMap="BooksMap" parameterType="java.util.Map">
      select
      <if test="example != null and example.distinct">
        distinct
      </if>
      <include refid="Base_Column_List"/>
      from <include refid="Table_Name"/>
      <if test="example != null">
        <include refid="Example_Where_Clause"/>
      </if>
      <if test="example != null and example.orderByClause != null">
        order by ${example.orderByClause}
      </if>
    </select>
    <select id="selectOneByExample" resultMap="BooksMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from <include refid="Table_Name"/>
		<if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
      <if test="example != null and example.orderByClause != null">
        order by ${example.orderByClause}
      </if>
        limit 1
    </select>
    <select id="selectIn" resultMap="BooksMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from <include refid="Table_Name"/>
        where id IN
        <foreach collection="records" item="record" index="index" open="(" separator="," close=")">
			#{record.id,jdbcType=INTEGER}
		</foreach>
    </select>
    <select id="countByExample" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from <include refid="Table_Name"/>
       <if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="countByPager" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) as total from <include refid="Table_Name"/>
		<if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="selectByPager" resultMap="BooksMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from <include refid="Table_Name"/>
        <if test="example != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="pager.sortItem != null and pager.sortItem != '' ">
            order by ${pager.sortItem} ${pager.sortType}
        </if>
        limit #{pager.startIndex} , #{pager.pageSize}
    </select>
	 <!-- end select -->
    <!-- My Custom Interfaces -->
</mapper>
